<td><%= link_to 'Home', root_path %></td>
<td><%= link_to 'Schedules', schedules_path %></td>
<td><%= link_to 'FoodList', allfoods_path %></td>
<td><%= link_to 'Restaurants', hotels_path %></td>
<td><%= link_to 'Ingredients', ingredients_path %></td>
<HR/>
