<p>
    <%= label_tag "Date" %> - <td align="center"><%= @schedule.date %></td>
</p>
<p>
    <%= label_tag "Fruits" %> - <td align="center"><%= @schedule.fruit1%>,<%= @schedule.fruit2%>,<%= @schedule.fruit3%>,<%= @schedule.fruit4%>,<%= @schedule.fruit5%></td>
</p>
<p>
    <%= label_tag "Veggies" %> - <td align="center"><%= @schedule.veggie1%>,<%= @schedule.veggie2%>,<%= @schedule.veggie3%>,<%= @schedule.veggie4%></td>
</p>
<p>
    <%= label_tag "Proteins" %> - <td align="center"><%= @schedule.protein1%>,<%= @schedule.protein2%>,<%= @schedule.protein3%></td>
</p>
<p>
    <%= label_tag "Carbs" %> - <td align="center"><%= @schedule.carbs1%>,<%= @schedule.carbs2%></td>
</p>
<p>
    <%= label_tag "Junk" %> - <td align="center"><%= @schedule.junk%></td>
</p>

<%= link_to 'Back', schedules_path %>
<%= link_to 'Edit', edit_schedule_path(@schedule) %>
<%= link_to 'Delete', schedule_path(@schedule), method: :delete, data: {confirm: 'Are you sure?' } %>
