<table>
<tr>
    <th>User handle</th>
    <th> | </th>
    <th>Diet repeats in</th>
</tr>

<% @users.each do |user| %>
    <tr>
        <td align="center"><%= user.handle %></td>
        <td>|</td>
        <td align="center"><%= user.dietrepeatcount %></td>
        <td>|</td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>

</table>
